.video-player{
  width: 100%;
  aspect-ratio: 16/9;
}
.desc{    
  margin-top: 30px;
  height: 140px;
  width: 100%;
}

.name{
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  gap: 1%;
  display: flex;
  font-size: 20px;
}

.user-profile{
  display: flex;
}

.livenow{
  margin-top: 20px;
  display: flex;
  width: 100%;
  padding: 0 30px;
  overflow-x: scroll;
  gap: 30px;
}

.subscribe{
  background-color: var(--secondary-tool); 
  width: 210px;
  text-align: center;
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  height: 50px;
}

.tags{
  flex: 1;
  display: flex;
  gap: 2%;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}
