.miniVideoTilebase{
  width: 250px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 300px;
}

.follow{
 font-size: 20px;
 background-color: #E5E5E5;
 display: flex;
 align-items: center;
 width: 100px;
 border-radius: 5px;
 padding: 6px;
 justify-content: space-around;
}
