.searchInput{
  color: white;
  background-color: var(--secondary);
  border: 1.5px solid var(--secondary-tool);
  height: 45px;
  width: 470px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 4px;
}

.navbase{
  top: -20px;
  position: fixed;
}

.searchInput::placeholder{
  padding-top: 20px;
  color: var(--secondary-tool);
  font-size: 20px;
}

.searchIcon{
  color: var(--secondary-tool);
  position: absolute;
  top: 73px;
  left: 390px;
  height: 30px;
}


