html,
body, textarea {
  padding: 0;
  margin: 0;
  font-family: 'Eina';
  height: 100%;
  color: var(--disabled);
  background-color: var(--secondary);
}

@font-face {
  font-family: "Eina";
  font-weight: 500;
  src: url("../public/fonts/Eina01-SemiBold.ttf");
}
@font-face {
  font-family: "Eina";
  font-weight: 300;
  src: url("../public/fonts/Eina01-Light.ttf");
}
@font-face {
  font-family: "Eina";
  font-weight: 400;
  src: url("../public/fonts/Eina01-Regular.ttf");
}
@font-face {
  font-family: "Eina";
  font-weight: 700;
  src: url("../public/fonts/Eina01-Bold.ttf");
}

:root {
  --primary: #2f2f2f;
  --secondary: #1f1f1f;
  --tool: #ff168b;
  --secondary-tool: #515252;
  --disabled: #c0c0c0;
}



a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
