.container {
  padding: 0 2rem;
  background-color: var(--secondary);
  color: white;
}

.input{
      display: flex;
  height: 52px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  width: 451px;
  padding: 14px;
  border: 1px solid var(--secondary-tool);
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.input::placeholder{
    font-size: 40px;
    color: var(--primary-tool);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.livenow {
  display: flex;
  width: 100%;
  padding: 0 30px;
  overflow-x: scroll;
  gap: 30px;
}

.see-all {
  color: var(--secondary-tool);
  padding: 0 30px;
  font-weight: none;
  align-content: center;
  cursor: pointer;
  justify-content: space-between;
  display: flex;
}

.live-now-bar-style {
  color: white;
  justify-content: space-between;
  font-weight: bold;
  padding: 0px 30px 20px 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
