.base {
  display: flex;
}


.rightPane {
  padding: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 59px;
}

.rightPane .continue {
  align-self: start;
  font-size: 40px;
  color: white;
}

.leftPane {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vh;
  gap: 40px;
}

.login_illustration {
  width: 280px;
  height: 300px;
}

.bannerTextStyle {
  font-size: 3.125em;
  color: white;
}

.dividerBar {
  height: 100vh;
  width: 5px;
  background: black;
}

.metamask-button {
  width: 30vw;
  height: 75px;
  box-shadow: 0px 5px 5px 0px black;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 0 20px;
  padding: 20px;
  align-items: center;
}

@media screen and (max-width: 1000px) {

  .leftPane {
    display: none;
  }

  .rightPane {
    max-width: 800px;
  }
  
  .dividerBar {
    display: none;
  }
}
