.base{
  display: flex;
  font-size: 100px;
  position: sticky;
  padding: 40px 0px 40px 40px;
  align-items: center;
  width: 100vw;
  color: white;
  gap: 0 33px;
  background-color: var(--secondary);
}

.search{
  flex: 1
}


.pluscircle{
  width: 30px;
  height: 30px;
}

.bell{
  width: 30px;
  height: 30px;
}

.user{
  width: 30px;
  height: 30px;
}

.userclass{
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  width: 46px;
}

.user:hover{
  border-radius: 50%; 
  background-color: var(--primary);
}