.searchInput {
  color: white;
  background: transparent;
  outline: none;
  border: none;
  flex: 1;
  font-size: 1rem;
}

.navbase {
  display: flex;
  height: 5vh;
  border-radius: 5px;
  width: 30vw;
  padding: 14px;
  border: 1px solid var(--secondary-tool);
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.searchInput::placeholder {
  color: var(--secondary-tool);
  font-size: 1rem;
}



.searchIcon {
  color: var(--secondary-tool);
  width: 2.6vh;
  height: 2.6vh;
}
