html,
body, textarea {
  padding: 0;
  margin: 0;
  font-family: 'Eina';
  height: 100%;
  color: var(--disabled);
  background-color: var(--secondary);
}

:root {
  --primary: #2f2f2f;
  --secondary: #1f1f1f;
  --tool: #ff168b;
  --secondary-tool: #515252;
  --disabled: #c0c0c0;
}



a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
