.container {
  padding: 0 2rem;
  background-color: var(--secondary);
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

